@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}


$light: #b8b7b7c8;
$gray: #e7e9eb;


.flex {
  display: flex;
}

.navbar {
  background-color: $light;
  padding: 1rem 2rem;
  border-bottom: 1px solid $gray;
}

.sidebar {
  width: 18rem;
  height: 100vh;
  border-right: 1px solid $gray;
  ul {
    list-style: none;
    padding: 1rem 2rem;
    li{
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        &.active {
          background-color: $gray;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}